<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Datos básicos</h4>
                        <div class="divider-requests"></div>
                        <div class="row">
                            <div class="col-md-10">
                                <label>Rif <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <div class="form-check form-check-inline" style="position: absolute; right: 0; bottom: 0;">
                                    <input _ngcontent-kad-c259="" type="checkbox" id="inlineCheckbox2" value="option2" class="form-check-input">
                                    <label _ngcontent-kad-c259="" for="inlineCheckbox2" class="form-check-label">Activo</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Razón Comercial <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Razón Social <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="divider-requests"></div>
                        <h4 class="card-title">Dirección</h4>
                        <div class="divider-requests"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>País <span class="text-danger">*</span></label>
                                <select id="exampleFormControlSelect1" class="form-control">
                                    <option>Activo</option>
                                    <option>Inactivo</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Estado <span class="text-danger">*</span></label>
                                <select id="exampleFormControlSelect1" class="form-control">
                                    <option>Activo</option>
                                    <option>Inactivo</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>Dirección <span class="text-danger">*</span></label>
                                <textarea rows="4" style="resize: none;" cols="30" class="form-control">

                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Sucursales</h4>
                        <div class="divider-requests"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sucursales</label>
                                <ng-multiselect-dropdown
                                    [placeholder]="'Seleccione...'"
                                    [settings]="dropdownSettings"
                                    [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    >
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="divider-requests"></div>
                        <h4 class="card-title">Servicios</h4>
                        <div class="divider-requests"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Servicios</label>
                                <ng-multiselect-dropdown
                                    [placeholder]="'Seleccione...'"
                                    [settings]="dropdownSettings"
                                    [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    >
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <!-- <div class="divider-requests"></div>
                        <h4 class="card-title">Información complementaria</h4>
                        <div class="divider-requests"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Dominio</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>LDAP <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div> -->
                        <div class="divider-requests"></div>
                        <h4 class="card-title">Contacto</h4>
                        <div class="divider-requests"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Teléfono</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Correo electrónico <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <label class="text-danger">(*) Campos obligatorios</label>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
