.wizard-navbar {
    padding: 0px;
    margin: 50px 0 50px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.wizard-navbar::before {
    height: 2px;
    background: #e9ecef;
    content: "";
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard-navbar li {
    list-style: none;
    text-align: center;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.wizard-navbar li > a {
    padding: 0.5rem 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.wizard-navbar li > a.active .round-tabs {
    background: #009efb;
    border-color: #009efb;
    color: #fff;
}
.wizard-navbar li .round-tabs {
    padding: 20px;
    background: white;
    position: relative;
    z-index: 2;
    border: 1px solid #e9ecef;
    border-radius: 100%;
}

.wizard-navbar li > a.active .round-tabs {
    background: #009efb;
    border-color: #009efb;
    color: #fff;
}

.wizard-navbar li.active > div > span{
    margin-top: 10px;
    color: #009efb;
}
:host ::ng-deep {  
.multiselect-dropdown .dropdown-list {
    bottom: 0!important;
}
}